In [7]:
from os.path import join as pathjoin
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
NATURAL_DATA_DIR = '/home/mlepekhin/data'
GENERATED_DATA_DIR = pathjoin(DATA_DIR, 'min_gpt_bpe')
DOMAIN_DATA_DIR = pathjoin(DATA_DIR, 'domain')

In [3]:
!mkdir {DOMAIN_DATA_DIR}

In [5]:
natural_data_en = pd.read_csv(pathjoin(NATURAL_DATA_DIR, 'en'))
generated_data_en = pd.read_csv(pathjoin(GENERATED_DATA_DIR, 'en'))
print(generated_data_en.shape)
generated_data_en.head()

(220, 3)

   Unnamed: 0 target                                               text
0           0     A4  hot - water ; she now , and then she darted th...
1           1     A4  ##hantom , his be a real education frequenters...
2           2     A4  completed . The Mandarin uses his own allies f...
3           3     A4  chiefs to Nazareth with John , their glances t...
4           4     A4  youngest , and see the mermaids , and then , a...

In [6]:
natural_data_ru = pd.read_csv(pathjoin(NATURAL_DATA_DIR, 'ru'))
generated_data_ru = pd.read_csv(pathjoin(GENERATED_DATA_DIR, 'ru'))
print(generated_data_ru.shape)
generated_data_ru.head()

(200, 3)

   Unnamed: 0 target                                               text
0           0     A4  села на улице могильщиков . " бедныи атос ! - ...
1           1     A4  ##елкать . если бы они могли забыть . когда - ...
2           2     A4  воскресыи в уши . и вот тебе , моя нем не скаж...
3           3     A4  отчаянном гостиниц и потертои , старыи бурнуще...
4           4     A4  ожил в него . - - вы говорите , - сказал он ид...

In [19]:
def make_domain_dataset(data_list, domain_list):
    X, y = [], []
    for data, domain in zip(data_list, domain_list):
        for text in data.text.values:
            X.append(text)
            y.append(domain)
            
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
    train_df = pd.DataFrame({'text': X_train, 'domain': y_train})
    test_df = pd.DataFrame({'text': X_test, 'domain': y_test})
    return train_df, test_df

In [20]:
ru_domain_train, ru_domain_test = make_domain_dataset(
    [natural_data_ru, generated_data_ru], ['natural', 'generated']
)
en_domain_train, en_domain_test = make_domain_dataset(
    [natural_data_en, generated_data_en], ['natural', 'generated']
)
ru_domain_test.head()

                                                text     domain
0  Украинская дорога России в будущее * * * * * М...    natural
1  присвоено имя ее изобретателя , которое склоня...  generated
2  Истоки японо-китайской вражды * * * * * БОСТОН...    natural
3  1 казино , 1 австралиец и # 17 миллионов Состо...    natural
4  6 июня 2006 в 17:41 Макколл о золотой середине...    natural

In [21]:
ru_domain_train.to_csv(pathjoin(DOMAIN_DATA_DIR, 'ru_train'))
ru_domain_test.to_csv(pathjoin(DOMAIN_DATA_DIR, 'ru_test'))
en_domain_train.to_csv(pathjoin(DOMAIN_DATA_DIR, 'en_train'))
en_domain_test.to_csv(pathjoin(DOMAIN_DATA_DIR, 'en_test'))