In [6]:
from os.path import join as pathjoin
import pandas as pd

In [7]:
DATA_DIR = '/home/mlepekhin/data'
GENRE_DATA_DIR = pathjoin(DATA_DIR, 'train_genre')

In [8]:
!mkdir {GENRE_DATA_DIR}

In [9]:
data_en = pd.read_csv(pathjoin(DATA_DIR, 'en_train'))
print(data_en.shape)
data_en.head()

(1264, 3)

   Unnamed: 0 target                                               text
0        1605     A8  ( INDIANAPOLIS – APRIL 16 , 2010 ) – Ash conti...
1         296     A1  " Apache vs Yaws · Spoof signs " A succinct in...
2         664    A12  ENQUIRY AND ADVICE : Usually arrive via teleph...
3         560    A22  Pay Someone To Write College Essay ADI special...
4        1168     A1  Moral Difference Between Hitting a Computer an...

In [10]:
data_ru = pd.read_csv(pathjoin(DATA_DIR, 'ru_train'))
print(data_ru.shape)
data_ru.head()

(1447, 3)

   Unnamed: 0 target                                               text
0        1532     A8  ОАО « Нижнекамскнефтехим » ( НКНХ ) не отказыв...
1         389    A11  ... в ходе написания ходатайства : сделать его...
2         207    A14  3.2 . Т опливо и его характеристики . 3.3 . М ...
3        1574     A8  Президент России Дмитрий Медведев в субботу на...
4         196    A16  Что заставляло человечество меняться к лучшему...

In [11]:
def split_by_genres(df, result_dir):
    result_dict = {}
    
    for text, target in zip(df['text'].values, df['target'].values):
        if target not in result_dict:
            result_dict[target] = []
        result_dict[target].append(text)
        
    for key, value in result_dict.items():
        with open(pathjoin(result_dir, f'{key}.txt'), 'w') as fout:
            for text in value:
                fout.write(f'{text}\n')

In [12]:
!mkdir {pathjoin(GENRE_DATA_DIR, 'ru')}
!mkdir {pathjoin(GENRE_DATA_DIR, 'en')}

In [13]:
split_by_genres(data_en, pathjoin(GENRE_DATA_DIR, 'en'))
split_by_genres(data_ru, pathjoin(GENRE_DATA_DIR, 'ru'))