In [1]:
from os.path import join as pathjoin
import pandas as pd

In [3]:
DATA_DIR = '/home/mlepekhin/data/big'
GENRE_DATA_DIR = pathjoin(DATA_DIR, 'genre')

In [4]:
!mkdir {GENRE_DATA_DIR}

mkdir: cannot create directory ‘/home/mlepekhin/data/big/genre’: File exists

In [5]:
data_en = pd.read_csv(pathjoin(DATA_DIR, 'en.csv'))
print(data_en.shape)
data_en.head()

(100000, 3)

   Unnamed: 0 target                                               text
0           0    A17   The ' Baronet Supreme ' is upholstered using ...
1           1    A17   This book explores some of the remarkable sto...
2           2    A17   Course Aims This course will teach support pr...
3           3     A7   In the News 24 November 2002 The Office of Fa...
4           4     A7   Signing the metadata for the SDSS federation ...

In [6]:
data_ru = pd.read_csv(pathjoin(DATA_DIR, 'ru.csv'))
print(data_ru.shape)
data_ru.head()

(100000, 3)

   Unnamed: 0 target                                               text
0           0     A8  СИАБ раскидывает розничную сеть , Деловой Пете...
1           1     A1  Мужчины о женщинах и женщины о мужчинах .  Цен...
2           2     A8  Сервисное обслуживание и ремонт  « Ивановская ...
3           3    A17  Представляю вам коллекцию книг для блоггеров ,...
4           4     A8  Статьи и заметки  Как мы уже сообщали , 26 ноя...

In [7]:
def split_by_genres(df, result_dir):
    result_dict = {}
    
    for text, target in zip(df['text'].values, df['target'].values):
        if target not in result_dict:
            result_dict[target] = []
        result_dict[target].append(text)
        
    for key, value in result_dict.items():
        with open(pathjoin(result_dir, f'{key}.txt'), 'w') as fout:
            for text in value:
                fout.write(f'{text}\n')

In [24]:
!mkdir {pathjoin(GENRE_DATA_DIR, 'ru')}
!mkdir {pathjoin(GENRE_DATA_DIR, 'en')}

mkdir: cannot create directory ‘/home/mlepekhin/data/genre/ru’: File exists
mkdir: cannot create directory ‘/home/mlepekhin/data/genre/en’: File exists

In [8]:
split_by_genres(data_en, pathjoin(GENRE_DATA_DIR, 'en'))
split_by_genres(data_ru, pathjoin(GENRE_DATA_DIR, 'ru'))